/* General Section Styles */
.home-numbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f0f4f8;
}

.gradient-bg {
  background: linear-gradient(135deg, #6e7a99, #a1c4fd);
}

.hnum-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/* Card Box Styling */
.hnum-box {
  background: #a62522; /* Background color of each card */
  height: 100%;
  border-radius: 12px;
  padding: 26px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  border: 1px solid #a62522;
  background-color: #a62522; /* White background for the cards */
  margin: 0 auto;
}

/* Apply a hover effect */
.hnum-box h3 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}
.hnum-box:hover h3, .hnum-box:hover p {
  color: #a62522;
}

.hnum-box p {
  font-size: 1rem;
  color: #919090;
}

.hnum-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  background-color: #f1f5f9; /* Light grey background on hover */
}

.hnum-box:active {
  transform: translateY(-5px);
}

/* Space between cards */
.mb-4 {
  margin-bottom: 30px; /* Adjust the space between the cards */
}

/* Responsive Design */
@media (max-width: 768px) {
  .hnum-main {
    flex-direction: column;
    gap: 30px;
  }

  .hnum-box h3 {
    font-size: 2rem;
  }

  .hnum-box p {
    font-size: 0.9rem;
  }
}
